{% extends 'rma_base.html' %}
{% load i18n %}
{% load extra_tags %}
{% block content %}
    <div class="container-fluid">
        <p><a href="{% url 'rma:create' %}" class="btn btn-default">Neuen Eintrag erstellen</a>
            <span>Autoreload: </span><button id="refresh" class="btn btn-primary" >off</button>
            <span><a href="{% url 'main' %}" class="btn btn-info btn-sm" style="float:right">Back to Main-Page</a></span>
            <form action="{% url 'rma:search' %}" method="post" style="float:left; display: inline-grid;">
                {% csrf_token %}
                {{ search_form.as_p }}
                <input type="submit" value="Search/Clear" class="btn btn-dark btn-sm">
            </form>
        </p>
        <div class="col-md-offset-11 col-lg-offset-11 col-md-1 col-lg-1" style="z-index: 2">
            <button id="back-to-top" class="btn btn-info" style="position: fixed; margin-top:30%;">To Top</button>
        </div>
        <table id="demo-table" class="table table-bordered tablesorter">
            <thead>
                <tr>
                    <th>RMA#</th>
                    <th>Contact Person</th>
                    <th>Customer</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>Content</th>
                    <th>Shelf</th>
                    <th>File</th>
                    <th>Parcel Received</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                {% if object.status|stringformat:"s" == "Storage" %}
                    <tr style="background-color:#FFFF00">
                {% elif object.status|stringformat:"s" == "On the way" %}
                    <tr style="background-color:#c8fdc8">
                {% elif object.status|stringformat:"s" == "Contact Customer" %}
                    <tr style="background-color:#D3D3D3">
                {% elif object.status|stringformat:"s" == "Responsible Sales Person" %}
                    <tr style="background-color:deepskyblue">
                {% elif object.status|stringformat:"s" == "Customer confirmation missing" %}
                    <tr style="background-color:#ffccff">
                {% elif object.status|stringformat:"s" == "" %}
                    <tr>
                {% else %}
                     <tr style="background-color:#BFF2FF">
                {% endif %}
                    <td>{{ object.rma|wordwrap:20|linebreaksbr }}</td>
                    <td>{{ object.salesPerson|wordwrap:20|linebreaksbr }}</td>
                    <td>{{ object.customer_forename }} / {{ object.customer_name }}</td>
                    <td><a href="mailto:{{ object.customer_email }}?subject={{ object.rma }}">{{ object.customer_email|wordwrap:30|linebreaksbr }}</a></td>
                    <td>{{ object.country|wordwrap:30|linebreaksbr }}</td>
                    <td>{{ object.content|tmp:','|safe }}</td>
                    {% if object.shelf %}
                        <td>{{ object.shelf }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{% if object.rma_file %}
                            <a href="/media/{{ object.rma_file }}">X</a>
                        {% endif %}
                        {% if object.rma_second_file %}
                            <a href="/media/{{ object.rma_second_file }}">X</a>
                        {% endif %}
                    </td>
                    <td>{{ object.parcel_received|date:'Y-m-d' }}</td>
                    <td>{{ object.status|wordwrap:2|linebreaksbr }}</td>
                    <td>{{ object.comments|wordwrap:40|linebreaksbr }}</td>
                    <td><a class="own-btn" href="{{ object.get_update_url }}">Edit</a></td>
                    <td><a class="own-btn btn-danger" href="{{ object.get_delete_url }}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        setTimeout("document.location.reload();", 300000);
        $("#demo-table").tablesorter();

    });
</script>

<script>
    $(document).ready(function() {

        $('#back-to-top').hide();
        $(document).mousemove(function(e) {
            if ($(document).scrollTop() > 300) {
                $('#back-to-top').show();
            } else {
                $('#back-to-top').hide();
            }
        });

        $('#back-to-top').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 10);
            return false;
        });

        $('#refresh').click(function() {
            var auto = $('#refresh').html().trim();
            if (auto == 'off') {
                $('#refresh').html('on');
                window.location.href='#stop';
                window.location.href.reload();
            } else {
                $('#refresh').html('off');
                window.location.href = '#';
                setInterval(function() {
                  window.location.href.reload();
                }, 300000);
            }
      });
    });

    (function(){
        if (window.location.hash == '') {
            setInterval(function() {
                  window.location.href.reload();
                }, 300000);
        } else {
            $('#refresh').html('on');
            setInterval(function() {
                  alert('Autoreload ist aus');
                }, 300000);
        }
    }());
</script>
{% endblock %}
