<style>

    .magic {
        border: 1px solid black;
        box-shadow: 10px 10px 10px;
        background-color: #EFEFFF;
    }
    .or {
        margin-top: -4%;
        margin-left: 4%;
    }
    .tick-left {
        margin-left: 5%;
    }

    .tick-right {
        margin-left: -5%;
    }

   .little-up {
        margin-top: -4%;
   }

   .links {
        font-size: 14px;
   }

   .label-over-text {
        display: grid;
   }
   input[type=checkbox] {
        transform: scale(1.2);
   }
   input[type=text] {
        width: 40%;
   }
   img {
        display: block;
        margin: 0 auto;
   }
   .center-text {
        text-align: center;
   }
   .img-carts {
        box-shadow: 5px 2px 12px 0px;
        margin-left: 1%;
   }
</style>